<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    <div class="container">
         {{> nav}}
         <div class="content">
                <h1>{{title}}</h1>
                <p>{{name}}</p>
                <img src="https://images.generated.photos/HrbBigDpcw4ROuCfnH4GJy2BKGyCHNsDZabCVUJc1lg/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzA2ODcyOTQuanBn.jpg" alt="" class="about-img">
                 <p>Lorem ipsum dolor tatibus corrupti modi enim consectetur suscipit sint id doloribus.</p>
         </div>
        
        {{>footer}}
    </div>
   
</body>

</html>