<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    <div class="container">
         {{> nav}}
         <div class="content">
                <h1>{{title}}</h1>
                <p>Bu site {{name}} tarafından yapılmıştır. Hava durum verileri <a href="https://openweathermap.org" target="_blank">openweathermap.org</a>  sitesinden sağlanmaktadır.<p/>
                <div class="about-img">
                     <img src="https://images.unsplash.com/photo-1591379855821-c08f34ca8565?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80" alt="image">
                </div>
         
            
         </div>
        
        {{>footer}}
    </div>
   
</body>

</html>