<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    <div class="container">
         {{> nav}}
         <div class="content">
                <h1>{{title}}</h1>
                <ol>
                    <li>Mail: <a href="mailto:oguzkaracar@gmail.com" target="_blank" >oguzkaracar@gmail.com</a></li>
                    <li>Linkedin: <a href="https://www.linkedin.com/in/oguzhan-karacar/" target="_blank" >Oğuzhan Karaçar</a></li>
                    <li>Github: <a href="https://github.com/oguzkaracar" target="_blank" >oguzkaracar</a></li>
                    <li>Codepen: <a href="https://codepen.io/oguzhan-karacar" target="_blank" >oguzhan-karacar</a></li>
                </ol>
         </div>
        
        {{>footer}}
    </div>
   
</body>

</html>