<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    <div class="container">
         {{> nav}}
         <div class="content">
                <h1>{{title}}</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta sint suscipit est, quo modi deserunt officiis quos eligendi enim earum ratione iure, eos aperiam labore aliquid harum accusantium commodi ad!
                Molestiae tempore commodi, quos minus error amet ipsam eveniet vel laborum eius ducimus placeat sapiente quod ullam at adipisci blanditiis modi ad! Repellat, eos qui ex perspiciatis veritatis autem ut.
                Hic, provident delectus. Quidem quasi eum odit animi, quisquam delectus commodi, aliquam quae fugit laborum rerum itaque illo fugiat, corporis perferendis voluptatibus corrupti modi enim consectetur suscipit sint id doloribus.</p>
         </div>
        
        {{>footer}}
    </div>
   
</body>

</html>