<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    <div class="container">
        {{> nav}}
        
        <div class="content">
             <h1>{{title}}</h1>
            <form>
                <input type="text" name="search" id="search-location" placeholder="Location">
                <button type="submit">Search</button>
            </form>

            <div id="showForecast" class="showInfo">
                <p id="message-one"></p>
                <p id="message-two"></p>
                <img src="" alt="" id="weather-img">
            </div>
        </div>
       
        {{>footer}}
    </div>
    
    <script src="./scripts/index.js"></script>
</body>

</html>
